 /*Шрифты*/
 @font-face {
    font-family:Myriad; /* Имя шрифта */
    src: url(../font/MyriadProBlackSemiExtended.ttf) format('truetype'); /* Путь к файлу со шрифтом */
    font-weight: normal;

font-style: normal;
   }
@font-face {
    font-family:CoreRhino45Regular; /* Имя шрифта */
    src: url(../font/CoreRhino45Regular.otf) format("opentype"); /* Путь к файлу со шрифтом */
    font-weight: normal;

font-style: normal;
   }
   @font-face {
    font-family:Coreriho65bold; /* Имя шрифта */
    src: url(../font/Coreriho65bold.ttf) format("truetype"); /* Путь к файлу со шрифтом */
    font-weight: normal;

font-style: normal;
   }
   @font-face {
    font-family:NautilusPompilius; /* Имя шрифта */
    src: url(../font/NautilusPompilius.otf) format("opentype"); /* Путь к файлу со шрифтом */
    font-weight: normal;

font-style: normal;
   }
      @font-face {
    font-family:CoreRhino35Light; /* Имя шрифта */
    src: url(../font/CoreRhino35Light.otf) format("opentype"); /* Путь к файлу со шрифтом */
    font-weight: normal;

font-style: normal;
   }

@font-face {
    font-family:MyriadPro-Bold; /* Имя шрифта */
    src: url(../font/MyriadPro-Bold.otf) format("opentype"); /* Путь к файлу со шрифтом */
    font-weight: normal;
	font-style: normal;
   }
   @font-face {
    font-family:MyriadPro-Regular; /* Имя шрифта */
    src: url(../font/MyriadPro-Regular.otf) format("opentype"); /* Путь к файлу со шрифтом */
    font-weight: normal;
	font-style: normal;
   }
    @font-face {
    font-family:Segoe_ui_bold; /* Имя шрифта */
    src: url(../font/Segoe_ui_bold.ttf) format("truetype"); /* Путь к файлу со шрифтом */
    font-weight: normal;
	font-style: normal;
   }
    @font-face {
    font-family:MyriadPro-Semibold; /* Имя шрифта */
    src: url(../font/MyriadPro-Semibold.otf) format("opentype"); /* Путь к файлу со шрифтом */
    font-weight: normal;
	font-style: normal;
   }
    @font-face {
    font-family:Roboto_Regular; /* Имя шрифта */
    src: url(../font/Roboto_Regular.ttf) format("opentype"); /* Путь к файлу со шрифтом */
    font-weight: normal;
	font-style: normal;
   }

   /*Шрифты*/
body
{
	background: url("../images/bg.png") repeat;
	background-size: 200px;
	background-clip: padding-box;
	background-position: center;
}

.nav-menu
{
	
	list-style: none; 
	width: 100%;

}
.navbar-light .navbar-nav .nav-link {
color: #864729;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #864729;;
}

.nav-menu li
{
	display: inline-block;
	font-family: Myriad, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	font-size:16px;
	color: #864729;
	margin-right: 13%;
	padding-bottom: -2px;
	transform: translateY(2px);
	padding-bottom: 20px;
	border-bottom: 2px #e3e3e3 solid;
	/*border-bottom: 2px #864729 solid;*/

	
}
.nav-menu li:last-child
{
	margin-right: 2%;
}

.nav-menu li a:link,.nav-menu li a:target,.menu a, .menu a:hover, .menu a:link, .logo a, .logo a:target, .logo a:hover, .logo a:link
{
color: #864729;
text-decoration: none;

}

/*.nav-menu li.active:before
{   content: "";
	width:120px;
	border-bottom: 2px #864729 solid;
	position: absolute;
	top: 45px;
	transform: translateX(-20px);


}*/
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #864729;
}
.nav-menu li.active
{
	padding-bottom: 20px;
	border-bottom: 2px #864729 solid;
	
}

.nav-menu li:hover
{
	color: #864729;
	transition-duration: 1s;
	border-color: #864729;
	
}
.nav-menu li a:hover
{
	color: #864729;
 
	/*transform: translateY(2px);*/
}

.nav-menu
{
	display: block;

	border-bottom: 2px #e3e3e3 solid;
	
}

.navbar-light .navbar-brand {
    color: #864729;	
    font-family: CoreRhino35Light, sans-serif;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #864729;	
}

.logo
{
	font-family: NautilusPompilius;
	font-size: 60px;
	color: #864729;
	margin-bottom: 0px;
}
.logo-text
{
	font-family: CoreRhino45Regular;
	color: #864729;
	font-size: 20px;
	text-align: center;
}

.phone
{
font-family: CoreRhino45Regular;
font-size: 18px;
color: #864729;
margin-bottom: 0px;
}

.phone-wrap
{
	align-items:center;
	padding-top: 25px;
	margin-left: 30px;
}

.phone:first-child:before
{
	content: url("../images/Phone.png");
	position: absolute;
	width: 10px;
	height: 21px;
	
	transform: translateX(-25px);

}
.adres
{
font-family: CoreRhino45Regular;
font-size: 14px;
color: #864729;
margin-bottom: 0px;	
margin-left: 30px;
}

.adres:before
{
	content: url("../images/ADres.png");
	position: absolute;
	width: 10px;
	height: 21px;
	
	transform: translateX(-25px);

}
.adres-wrap
{
	align-items:center;
	padding-top: 25px;
}

.carousel-wrap
{
	margin-top: 70px;
}
.content-wrap
{
	background-color: #ffffff;
	min-height: 80vh;
	padding-left: 15px;
	padding-bottom: 120px;
	
}
.menu
{
	background-color:#f5f5f5;
	height: 570px;
	margin-top: 40px;
	
	color: #864729;
	 box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.08);
	 padding: 0px;
}
.menu a
{
padding-left: 15px;
display: inline-block;
}




.menu-title
{
	font-family: MyriadPro-Bold;
	font-size: 20px;
	margin-top: 30px;
	text-transform: uppercase;
	padding-left: 15px;
}
.menu-list
{
padding: 0;
font-size: 18px;
font-family: MyriadPro-Regular;
line-height: 2;
font-weight: 50;

	}

.menu-list li
{
	list-style: none;
}
.menu-list a:hover
{
	background: linear-gradient(90deg,#874a31,#af795e);
	color:#ffffff;
	display: block;
	border-radius: 10px;
}

.menu-active a
{
	font-family: Segoe_ui_bold;
	background: linear-gradient(90deg,#874a31,#af795e);
	color:#ffffff;
	display: block;
	border-radius: 10px;
	

}

.menu-active a, .menu-active a:hover, .menu-active a:link
{
	color:#ffffff;
}
.sab-menu 
{
padding-left: 30px;
}
.sab-menu a
{
	color: #864729;
	background: none;
	font-family: MyriadPro-Regular;
	font-size: 15px;
	    padding: 0;
}
.sab-menu li.active a
{
background: none;
font-family: MyriadPro-Bold;
border-bottom: 1px #864729 solid;
display: inline-block;
font-size: 15px;
border-radius: 0px;
}
.sab-menu li a:hover
{
background: none;

border-bottom: 1px #864729 solid;
display: inline-block;
border-radius: 0px;
}
.sab-menu a, .sab-menu a:hover, .sab-menu a:link
{
	color:#864729;
	text-decoration: none;
	display: inline-block;

}

.content
{
	margin-top: 40px;
}

.breadcrumbs-list
{
list-style: none;
font-style: MyriadPro-Semibold;
font-size: 14px;
color:#864729;
padding: 0px;
}
.breadcrumbs-list li a, .breadcrumbs-list li a:hover, .breadcrumbs-list li a:link
{
	color:#864729;
	text-decoration: none;

}
.breadcrumbs-list li
{
display: inline-block;
}
.breadcrumbs-list li:first-child
{
margin-left: 0px;
margin-right: 15px;
}
.breadcrumbs-list li
{
margin-left: 15px;
margin-right: 15px;
}

.breadcrumbs-list li a.active
{
font-weight: 700;
}
.breadcrumbs-list li+li:before
{
content: "/";
position: absolute;
transform: translateX(-15px);
}

.content-text h1
{
color:#864729;
font-family: Coreriho65bold;
font-size: 35px;
}
.content-text h2
{
color:#864729;
font-family: Coreriho65bold;
font-size: 25px;
}
.content-text .text
{
	font-family: MyriadPro-Regular;
	font-size: 14px;
}

.text ul 
{
	list-style: none;
}
.text li:before
{
content: url("../images/circle.png");
margin-right: 3px;

}
footer
{
	min-height: 110px;
	width: 100%;
background-image: linear-gradient(-90deg,#864729,#8b4d2f);


}
.footer-menu 
{
list-style: none;
padding: 0;
margin-bottom:10px;
margin-top: 30px;


}
.footer-menu li
{
display: inline-block;

}
.footer-menu li a
{
	font-family: MyriadPro-Regular;
font-size: 14px;
color:#fff;
}
.footer-menu li a:link,.footer-menu li a:target,.footer-menu a:hover
{
color:#fff;
text-decoration: none;

}
.footer-menu  li:first-child
{
margin-left: 0px;
margin-right: 10px;
}
.footer-menu  li
{
margin-left: 10px;
margin-right: 10px;
}
.footer-menu li+li:before
{

content: "|";
color:#fff;
font-family: MyriadPro-Regular;
position: absolute;
transform: translateX(-15px);
}
.footer-menu-text
{
font-size: 14px;
color:#fff;
font-family: MyriadPro-Regular;
}
.footer-logo
{
	content: url("../images/logo.png");
	transform: translateX(100%);
	margin-bottom: 10px;

}

.footer-text
{
	font-family: Roboto_Regular;
	font-size: 12px;
	color:#fff;
	float:right;
}
.footer-logo-wrap
{
	margin-top: 20px;

}
.uppercase
{
	text-transform: uppercase;
}

/*Медиа запросы 1025px*/
@media (max-width: 1025px) 
{ 
.nav-menu li
{
margin-right: 10%;
}
.footer-logo {
    
    transform: translateX(75%);
  
}
}

/*Медиа запросы 1200px*/
@media (max-width: 1200px) 
{ 

.nav-menu li
{
margin-right: 10%;
}



.logo
{
	font-size: 50px;
}

.logo-text
{
	
	font-size: 18px;
	
}

}
/*Конец запроса 1200*/

/*Медиа запросы 780px*/
@media (max-width: 780px) 
{ 
	.logo
{
	font-size: 35px;
}
.logo-text
{
	
	font-size: 14px;
	
}
.phone-wrap
{
	
	padding-top: 15px;
}

.adres-wrap
{
	
	padding-top: 15px;
	margin-left: 30px;
}
.adres
{

font-size: 12px;

}
.phone
{

font-size: 15px;

}

.nav-menu
{
	display: block;

	border-bottom:none;
	
}

.nav-menu li
{
display: block;
}
.nav-menu li.active
{
padding-bottom: 2px;
}

.menu-title {
    display: none;
}
.menu {
    height: auto;
    margin-top: 0px;
    }

    .content-wrap {
    
    padding-right: 15px;
    
}
.navbar-menu-title {
    font-size:19px;
      
}
.content-wrap
{
	margin-top: 11px;
}
.nav-menu li:last-child {
    margin-right: 10%;
}

.footer-menu-text
{
font-size: 11px;

}
.footer-menu li a
{
	
font-size: 11px;

}
.footer-logo {
    transform: translateX(90%);
}



}
/*Конец запроса 780*/
/*Медиа запросы 430px*/
@media (max-width: 430px) 
{ 
.phone-wrap
{
	
	text-align: center;
}
.adres-wrap
{
	
	text-align: center;
}
.logo-text-wrap
{
	text-align: center;
}
.carousel-wrap
{
	display: none;
}
.footer-menu-wrap
{
text-align: center;
}
.footer-text {
    float: none; 
}
.footer-logo {
    transform: translateX(110%);
}
.footer-logo-wrap {
    text-align: center;
}
}
/*Конец запроса 430*/

